.crade h1, h3{
    font-weight: bold;
}

.carde_main h1{
  color: white !important;
}

.crade h3{
  font-size: 1rem;
}

.secccnd{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.para_graph{
  font-size: 13px;
  margin-bottom: 5px !important;
}

.i_emg img{
  border-radius: 50%;
}

.iinn{
  background-color: #7c2f6e !important;
  color: white;
  opacity: 5;
}

.text-jacarta-500 {
  --tw-text-opacity: 1;
  color: rgb(90 93 121/var(--tw-text-opacity));
}

.pppp{
    color: white !important;
  --tw-text-opacity: 1;
}

@media (min-width:620px) and (max-width:770px) {
  .carde_hhh{
    font-size: 17px !important;
  }
}